.img-wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

@media(min-width:270px){
  .container{
    
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media(min-width:575px){
  .container{
    padding-left: 12px;
    padding-right: 12px;
  }
}